body {
	font-family: 'Open Sans', sans-serif;
	background-color: #44b5e4;
	color: #fff;
}
.row {
	margin-left: 0px;
	margin-right: 0px;
}
.navbar-default {
	background-color: #3998BF;
	border: none;
}
.navbar-default .navbar-brand {
	color: #fff;
}
.navbar-toggle {
	background-color: #fff;
}
.navbar-default .navbar-nav>li>a {
	color: #fff; 
}

.logo {
	width: 40%;
	height: auto;
	display: block;
	margin: auto;
}
.slogan {
	text-align: center;
	font-weight: lighter;
}
.fb-btn {
	text-align: center;
}