body {
	font-family: 'Open Sans', sans-serif;
	background-color: #44b5e4;
	color: #fff;

}

.row {
	margin-left: 0px;
	margin-right: 0px;
}
.navbar-default {
	background-color: #3998BF;
	border: none;
}
.navbar-default .navbar-brand {
	color: #fff;
}
.navbar-toggle {
	background-color: #fff;
}
.navbar-default .navbar-nav>li>a {
	color: #fff;
}

.logo {
	width: 40%;
	height: auto;
	display: block;
	margin: auto;
}
.slogan {
	text-align: center;
	font-weight: lighter;
}
.fb-btn {
	text-align: center;
}
.sign-up {
	margin-top: 50px;
}
.sign-up h3 {
	font-weight: lighter;
	text-align: center;
}
.sign-up input {
	display: inline-block;
	background-color: rgba(256, 256, 256, 0.3);
	border: none;
	border-radius: 0px;
	color: #fff;
	text-align: center;
}
.sign-up input::-webkit-input-placeholder {
color: rgba(255,255,255, 0.6);
text-align: center;
}
.sign-up button {
	display: block;
	margin: auto;
	width: 100%;
}
.footer {
	display: block;
	position: absolute;
	bottom: -150px;
	width: 100%;
	background-color: #337ab7;
	height: 50px;
	font-weight: lighter;
	color: rgba(255,255,255,0.8);
	font-size: 80%;
	text-align: center;
}
.footer p {
	padding-top: 15px;
}

/* thank you page */
.thank-you {
	text-align: center;

}
.thank-you .message {
	margin-top: 100px;
	padding: 50px;
	box-shadow: 0 0 15px 3px rgba(0, 0, 0, 0.2);;
	background-color: rgba(57, 152, 191, 0.5);
}

/* admin area styles */
.welcome-admin {
	margin-top: 50px;
	font-weight: lighter;
	text-align: center;
}
