body {
	font-family: 'Open Sans', sans-serif;
	background-color: #44b5e4;
	color: #fff;
}
.row {
	margin-left: 0px;
	margin-right: 0px;
}
.navbar-default {
	background-color: #3998BF;
	border: none;
}
.navbar-default .navbar-brand {
	color: #fff;
}
.navbar-toggle {
	background-color: #fff;
}
.navbar-default .navbar-nav>li>a {
	color: #fff;
}

.logo {
	width: 40%;
	height: auto;
	display: block;
	margin: auto;
}
.slogan {
	text-align: center;
	font-weight: lighter;
}
.fb-btn {
	text-align: center;
}
.sign-up {
	margin-top: 50px;
}
.sign-up h3 {
	font-weight: lighter;
	text-align: center;
}
.sign-up input {
	display: inline-block;
	background-color: rgba(256, 256, 256, 0.3);
	border: none;
	border-radius: 0px;
	color: #fff;
	text-align: center;
}
.sign-up input::-webkit-input-placeholder {
color: rgba(255,255,255, 0.6);
text-align: center;
}
.sign-up button {
	display: block;
	margin: auto;
	width: 100%;
}
