extends layout

block content

	main.landing
		video(autoplay loop muted id="bgvid")
			source(src="/images/sxswq.mp4" type="video/webm")
		div.overlay
		.col-md-12
			h1.slogan Making Designated Driving Awesome!
		.col-md-12
			h3.slogan2 Exclusive Access! Coming Soon!
		.row
			if errors
				.col-md-10.col-md-offset-1
					each error, i in errors
						li.alert.alert-danger #{error.msg}
			.col-md-8.col-md-offset-2.col-xs-12.sign-up				
				form(method="POST" action="/users/register" class="sign-up-form")
					.form-group
						input.form-control(type="text" name="firstName" placeholder="First Name" required)
					.form-group
						input.form-control(type="text" name="lastName" placeholder="Last Name" required)
					.form-group
						input.form-control(type="email" name="email" placeholder="Email address" required)
					button.btn.btn-primary(type="submit") Sign up
